- content_for :title, t('.title')

.row
  .span12
    - if @articles.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Article.human_attribute_name(:title)
            %th= Article.human_attribute_name(:description)
            %th= Article.human_attribute_name(:content)
            %th= t('.actions')
        %tbody
          - @articles.each do |article|
            %tr
              %td= article.title
              %td= article.description
              %td= article.content
              %td
                = link_to t('.show'), article_path(article), :class => 'btn btn-mini'
                = link_to t('.edit'), edit_article_path(article), :class => 'btn btn-mini' if can? :update, article
                = link_to t('.destroy'), article_path(article), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-mini btn-danger' if can? :destroy, article

    = link_to t('.new'), new_article_path, :class => 'btn btn-primary' if can? :create, ::Article
