.markdown-content-form
  - field ||= :content
  #image-selector.modal.hide
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 Ajouter une image
    .modal-body
      .well
        %input.input-block-level{name: "image_url", placeholder: "http://", "data-url-input" => true}
      
      %ul.thumbnails
        - Image.accessible_by(current_ability).each do |image|
          - next unless image.file?
          %li.span3
            = image_tag image.file.url(:thumbnail), class: "img-polaroid", "data-full-image-url" => image.file.url(:full)
    .modal-footer
      %a.btn{:href => "#", "data-close" => true} Fermer
      %a.btn.btn-primary{:href => "#", "data-save" => true}= "Ajouter l'image"
  .control-group
    - id = form_tag_id(f.object_name, field)
    .control-label
      %label{for: "wmd-input-#{id}"}= f.object.class.human_attribute_name(field)
      %span.help-block au format Markdown
    .controls
      .button-bar{id: "wmd-button-bar-#{id}"}
      .input-block
        %textarea.wmd-input{class: "wmd-input-#{id}", name: form_tag_name(f.object_name, field), rows: 20, data: {suffix: "-#{id}"}}= f.object.send(field)
      .preview-block
        .preview-title Prévisualisation&nbsp;:
        .preview{id: "wmd-preview-#{id}"}