.row
  .span12
    .hero-unit
      %h1 Acolab
      %p
        Clermont-Ferrand
      = link_to "Nos projets", projects_path, class: "btn btn-primary"
      = link_to "Acolab", articles_path, class: "btn"
      = link_to "Les ateliers", workshops_path, class: "btn"
      = link_to "Les participants", users_path, class: "btn"
.row
  .span12
    %h2 Dernières modifications
    %ul
      - Version.order("created_at DESC").limit(10).each do |version|
        %li
          - object = version.item
          - if object
            = "#{link_to_record object}, le #{l version.created_at}".html_safe
            par
            = link_to_user User.find(version.terminator)
