= bootstrap_form_for @project, :html => { :class => 'form-horizontal' } do |f|
  = f.text_field :name
  = f.text_area :description, :rows => 5
  #image-selector.hide
    %ul.thumbnails
      - Image.accessible_by(current_ability).each do |image|
        - next unless image.file?
        %li.span3
          = image_tag image.file.url(:thumbnail), class: "img-polaroid", "data-url" => image.file.url(:full)
  .control-group
    .control-label
      %label{for: "project_content"}= Project.human_attribute_name(:content)
      %span.help-block au format Markdown
    .controls
      #wmd-button-bar
      %textarea.wmd-input{name: "project[content]", rows: 20}= @project.content
  
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary'
    = link_to t('.cancel'), projects_path, :class => 'btn'
