- content_for :title, t('.title')

.row
  .span12
    - if @projects.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %ul.thumbnails.project-list
        - @projects.order("updated_at DESC").each do |project|
          %li.span4
            .project.well
              = link_to project, class: "title" do
                %h2= project.name
              %p.description= project.description
              %p.author= project.author.name if project.author.try(:name).present?
              %p.last-update= l(project.updated_at, :format => :short)
              %p.actions
                = link_to t('.show'), project_path(project), :class => 'btn'
                = link_to t('.edit'), edit_project_path(project), :class => 'btn' if can? :update, project
                = link_to t('.destroy'), project_path(project), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, project
.row
  .span12
    = link_to t('.new'), new_project_path, :class => 'btn btn-primary' if can? :create, ::Project
