- content_for :title, t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= Project.human_attribute_name(:name)
      %th= Project.human_attribute_name(:description)
      %th= t('.actions')
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td
          = link_to t('.show'), project_path(project), :class => 'btn btn-mini'
          = link_to t('.edit'), edit_project_path(project), :class => 'btn btn-mini' if can? :update, project
          = link_to t('.destroy'), project_path(project), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-mini btn-danger' if can? :destroy, project

= link_to t('.new'), new_project_path, :class => 'btn btn-primary' if can? :create, ::Project
