- model_class = @project.class
- @title = t('.title')

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @project.description

.form-actions
  = link_to t('.back'), projects_path, :class => 'btn'
  = link_to t('.edit'), edit_project_path(@project), :class => 'btn' if can? :update, @project
  = link_to t('.destroy'), project_path(@project), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @project
